<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the Dashboard! {{username}}</h1>

    <h2>YOUR TASKS:</h2>
    {%if tasks%}
    <table>
        <thead>
            <tr>
                <td>Title</td>
                <td>Details</td>
                <td>Start</td>
                <td>Deadline</td>
                <td>Progress</td>
                <td>Category</td>
                <td>Last Updated</td>
            </tr>
        </thead>
        <tbody>
        {%for task in tasks%}
            <tr>
                <th>{{task.task}}</th>
                <th>{{task.details}}</th>
                <th>{{task.start_date}}</th>
                <th>{{task.deadline}}</th>
                <th>{{task.progress}}</th>
                <th>{{task.last_update}}</th>
                <th>{{task.category}}</th>
                
            </tr>
        {%endfor%}
        </tbody>
    </table>
    {%else%}
        <P>No Tasks yet!</P>
    {%endif%}
    
    
    <h1>Add Tasks</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="task" placeholder="TaskName" required><br>
        <input type="text" name="details" placeholder="Details" required><br>
        <input type="date" name="start_date" placeholder="Start_Date" required><br>
        <input type="date" name="deadline" placeholder="Details" required><br>
        <input type="number" name="progress" placeholder="progress (in %)" min="0" max="100" value="0">

        <label for="category">Category:</label>
        <select name="category" id="category">
            <option value="MTG">Meeting</option>
            <option value="DEV">Development</option>
            <option value="BUG">Bug Fixing</option>
            <option value="FIT">Fitness</option>
            <option value="OTH">Other</option>
        </select>
        <button type="submit">Register!</button>
    </form>
</body>
</html>